<h2>International Customers:</h2>
{{ 'flag_usa.png' | asset_url | img_tag: 'we deliver to the usa' }}&nbsp;
{{ 'flag_canada.png' | asset_url | img_tag: 'we deliver to canada' }}&nbsp;
{{ 'flag_eu.png' | asset_url | img_tag: 'we deliver to europe' }}&nbsp;
{{ 'flag_australia.png' | asset_url | img_tag: 'we deliver to australia' }}&nbsp;
{{ 'flag_new_zealand.png' | asset_url | img_tag: 'we deliver to new zealand' }}&nbsp;
{{ 'flag_brazil.png' | asset_url | img_tag: 'we deliver to brazil' }}&nbsp;
<p>Our lamps will work with all international mains power supplies.{% if product.metafields.product.features contains 'LED' %} For customers in the USA we provide a US standard plug.{% endif %} For customers in other countries we provide an adaptor suitable for your electrical system. Feel free to <a href="http://lightart.wufoo.com/forms/talk-to-us-at-light-art/">contact us</a> if you have any questions.</p> 
<p>Unfortunately we have to charge an extra £10 for international delivery. Sorry.</p>