{% if product.metafields.product.gender == 'male' %}
	{% assign he = 'he'%}
	{% assign him = 'him'%}
{% else %}
    {% assign he = 'she' %}
	{% assign him = 'her' %}
{% endif %}
<h2>About {{ product.metafields.product.name | capitalize }}</h2>
<ul>

<li>We make {{ him }} in limited numbers so you won't find {{ him }} in every high street.</li>

<li>{{ he | capitalize }}'s made using a truly unique, hand finished process so there's no seam & no ugly line when you switch {{ him }} on.</li>

<li>{{ product.metafields.product.name | capitalize }} is made from tough polypropylene for that genuine 'pop art' look.</li>

{% if product.metafields.product.features contains 'LED' %}
<li>{{ he | capitalize }}'s lit by a 10V, 3W (yes really!) super low energy LED bulbs that last a lifetime and comes with a mains wall plug transformer.</li>
{% endif %}
<li>{{ he | capitalize }} is approximately {{ product.metafields.product.height }} inches high</li>
<li><strong>Free Delivery anywhere in the UK!</strong></li>
</ul>