   <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
   <script type="text/javascript">stLight.options({publisher:'e820f19b-d15d-4aee-98b4-b092c90f367b'});</script>
       
   {% if template == "index" %}
      <title>Unusual Lamps &amp; Lights | Fun Table Lamps by Light Art</title>
      <meta name="description" content="Light Art designs &amp; crafts fun, colourful retro lamps and table lamps" />
   {% endif %}
  
   {% if template == "collection" %}
      <title>{{ page_title | escape }} | Table Lamps | Fun Lighting</title>
      <meta name="description" content="{{ page_title }} - {{ collection.description | strip_html | strip_newlines | truncate: 160 }}" />
   {% endif %}

   {% if template == "product" %}
      <title>{{ page_title | escape }} | Table Lamp | Fun Lighting</title>
      <meta name="description" content="{{ product.title | escape }} &mdash; Signed by award-winning artist Myra Heller &amp; hand-finished in Germany by Heico" />
      <!-- Facebook ignores this comment out
      <meta property="og:title" content="{{product.title}}" />
      <meta property="og:type" content="product" />
      <meta property="og:url" content="{{shop.url}}{{product.url}}" />
      <meta property="og:image" content="{{ product.images.first | product_img_url: 'small' }}" />
      <meta property="og:site_name" content="Light Art Studio"/>
      -->
   {% endif %}

   {% unless template == "collection" or template == "product" or template == "index" %}
	<title>{{ shop.name | escape }} &mdash; 
              {% if template == "404" %}Page Not Found{% else %}{{ page_title | escape }}{% endif %}</title>
   {% endunless %}


   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="google-site-verification" content="QVLtYMRaOyyMiy8He5ZbLFPhjjGxFtahaH1Vt9bYDMI" />
   <meta name="google-site-verification" content="05EfBIxCMTKgW288exgCy5GAVpnPYqUyMQq8Rzu9BvI" />
   <meta name="copyright" content="{{ shop.name | escape }}" />
	

	
	{{ "reset.css" | asset_url | stylesheet_tag }}
	{{ "screen.css" | asset_url | stylesheet_tag }}
	{{ "theme.css" | asset_url | stylesheet_tag }}
	{{ "style.css" | asset_url | stylesheet_tag }}
		
	<!--[if lte IE 6]>{{ "ie6.css" | asset_url | stylesheet_tag }}<![endif]-->
	
	<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAtVDf2m59ZK9HMIFOFoOw_xSKcUbIJEvF0HYfjKMeHrmrR8U_LRQvYsrheclbLMU49licJQRWF9p2hg"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	
	{{ "jquery-slimbox-2-02.js" | asset_url | script_tag }}	
	{{ "jquery.easing.1.3.min.js" | asset_url | script_tag }}
	{{ "trans-banner.min.js" | asset_url | script_tag }}
	{{ "application.js" | asset_url | script_tag }}
	   	