<h2>Clientes internacionais:</h2>
{{ 'flag_usa.png' | asset_url | img_tag: 'we deliver to the usa' }}&nbsp;
{{ 'flag_canada.png' | asset_url | img_tag: 'we deliver to canada' }}&nbsp;
{{ 'flag_eu.png' | asset_url | img_tag: 'we deliver to europe' }}&nbsp;
{{ 'flag_australia.png' | asset_url | img_tag: 'we deliver to australia' }}&nbsp;
{{ 'flag_new_zealand.png' | asset_url | img_tag: 'we deliver to new zealand' }}&nbsp;
{{ 'flag_brazil.png' | asset_url | img_tag: 'we deliver to brazil' }}&nbsp;
<p>Nossos abajures irão funcionar  com todos os suprimentos internacionais de energia elétrica. Para clientes do Brasil nós fornecemos um plugue no padrão Brasileiro. Para clientes de outros países que oferecem um adaptador apropriado para seu sistema elétrico.Não hesite em contactar-nos se você tiver alguma dúvida.</p>
<p>Infelizmente, temos de cobrar um extra de £ 10 para a entrega internacional. Desculpe.</p>