<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	{% if template == 'page' and page.handle == 'tiger-appeal' %}
	    {% include 'tiger' %}
	{% endif %}
	
	{% if template != 'page' or page.handle != 'tiger-appeal' %}
	    {% include 'head' %}
	{% endif %}

    {{ content_for_header}}
	
</head>

{% if template != 'page' or page.handle != 'tiger-appeal' %}
<body>	
	<!-- START CONTAINER -->
	<div id="container">
		<!-- START HEADER -->
		<div id="header" class="clear">
			<!-- START LOGO -->{% if settings.logo == "enabled" %}
			<div id="logo">
				<a href="/"><img src="{{ "light-art-exclusive-table-lamp-design.png" | asset_url }}" alt="{{ shop.name | escape }}" /></a>
			</div>{% else %}
			<h2><a href="/">{{ shop.name | escape }}</a></h2>{% endif %}
			<!-- END LOGO -->{% if settings.phone.size > 0 or settings.email.size > 0 %}
			<!-- START HELLO -->
			<div id="hello">
				<div>
					<p>
						feel free to <a href="http://lightart.wufoo.com/forms/talk-to-us-at-light-art/">contact us</a>
					</p>
					<p>
					    find out more <a href="/pages/about-us">about us</a>
					</p>
				</div>
			</div>
			<!-- END HELLO -->{% endif %}
		</div>
		<!-- END HEADER -->
		<!-- START NAVIGATE -->
		<div id="navigate">
			<!-- START NAV -->
			
			<!-- START LINKS -->
			{% capture active_url %}{% if template == "index" %}/{% elsif template == "collection" %}/collections/{{ collection.handle }}{% elsif template == "product" %}{% if collection %}/collections/{{ collection.handle }}{% endif %}/products/{{ product.handle }}{% elsif template == "page" %}/pages/{{ page.handle }}{% elsif template == "blog" %}/blogs/{{ blog.handle }}{% elsif template == "cart" %}/cart{% elsif template == "search" %}/search{% endif %}{% endcapture %}
			<ul id="links">
				{% for link in linklists.main-menu.links limit: 6 %}
				 <li id="link-{{ link.title | handleize }}" class="link-{{ forloop.index }}">
					<a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
				 </li>
				{% endfor %}
			</ul>
			<!-- END LINKS -->
			<!-- START GOCART -->
			<div id="gocart">
				<p><a href="/cart"{% if template == "cart" %} class="active"{% endif %}>{{ cart.item_count }} {{ cart.item_count | pluralize: "Item", "Items" }}</a></p>
			</div>
			<!-- END GOCART -->
			<!-- END NAV -->
		</div>
		<!-- END NAVIGATE -->
         
		<!-- START CONTENT -->
		<div id="{% if template == "404" %}missing{% else %}{{ template }}{% endif %}" class="content">
			<!-- START BG -->
			<div id="bg" class="clear">
				
				{% if (template == "page" and (page.handle != "tiger-appeal" and page.handle != "bespoke-table-lamp-design" and page.handle != "blogs")) or template == "blog" or template == "article" %}
						<h1 class="title">{{ page.title | escape }}{{ blog.title | escape }}</h1>
						<!-- START MAIN -->
						<div id="main">
							{{ content_for_layout }}
						</div>
						<!-- END MAIN -->
						<!-- START SIDEBAR -->
						<div id="sidebar">
							<h3>Recent Articles</h3>
							<div style="margin-top: 10px;"><a href="http://www.twitter.com/lightartstudio"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow lightartstudio on Twitter"/></a></div>
							{% capture blog_handle %}{% if template == "page" %}news{% else %}{{ blog.handle }}{% endif %}{% endcapture %}{% if blogs.[blog_handle].articles.size > 0 %}{% for article in blogs.[blog_handle].articles limit: 4 %}
									<!-- START POST {{ forloop.index }} -->
									<div class="post{% if forloop.last %} end{% endif %}">
										<h5><a href="{{ article.url }}">{{ article.title | escape }}</a></h5>
										<p>{{ article.content | strip_html | strip_newlines | truncate: 80 }}</p>
									</div>
									<!-- END POST {{ forloop.index }} -->
									    {% endfor %}{% else %}
									<p>No articles.</p>
							{% endif %}
						    <p id="feed"><a href="{{ shop.url }}/blogs/{{ blog_handle }}.atom">{{ blog.title | escape }} Feed Subscription</a></p>
						</div>
						<!-- END SIDEBAR -->
				{% else %}
				       {{ content_for_layout }}
				       {% if template == "page" and page.handle == "blogs" %}
				          {% include 'blog_roll' with blogs.projects %}
				 		  {% include 'blog_roll' with blogs.news %}
				          {% include 'blog_roll' with blogs.onion-sightings %}
				          {% include 'blog_roll' with blogs.the-funky-fun-light-blog %}
				       {% endif %}
				{% endif %}
			</div>
			<!-- END BG -->
		</div>
		<div id="roundup">&nbsp;</div>
		<!-- END CONTENT -->
		<!-- START OVERVIEW -->
		<div id="overview" style="padding-top: 10px;">
			<ul class="clear">
				{% for article in blogs.news.articles limit: 3 %}
				 	<li>
						<h3><a href="{{ article.url }}">{{ article.title | escape }}</a></h3>
						<p>{{ article.content | strip_html | strip_newlines | truncate: 150 }}</p>
						<p><a href="{{ article.url }}">Read More</a></p>
					</li>
				{% endfor %}
				
			</ul>
		</div>
		<!-- END OVERVIEW -->
		<!-- START FOOTER -->
		<div id="footer" class="clear">
			<p>&copy; {{ "now" | date: "%Y" }} {{ shop.name | escape }}. Powered by <a href="http://www.shopify.com">Shopify</a>.</p>{% if linklists.footer.links.size > 0 %}
			<p class="links">{% for link in linklists.footer.links %}<a href="{{ link.url }}">{{ link.title | escape }}</a>{% unless forloop.last %} <span>&#124;</span> {% endunless %}{% endfor %}</p>{% endif %}
		</div>
		<!-- END FOOTER -->
	</div>
	<!-- END CONTAINER -->{% if template == "product" %}{% if product.available %}{% if product.variants.size > 1 %}
	<script type="text/javascript">
		// <![CDATA[
		var selectCallback = function(variant, selector) {
			if (variant && variant.available == true) {
				$("input#add").removeClass("disabled").removeAttr("disabled");
				$("h2#price span").html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
				if ($("h2#price del").length > 0) {
					$("h2#price del").html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"));
				};
			} else {
				$("input#add").addClass("disabled").attr("disabled", "disabled");
				var message = variant ? "Sold Out" : "Unavailable";
				$("h2#price span").text(message);
				if ($("h2#price del").length > 0) { $("h2#price del").text(""); };
			}
		};
		$(function() {
			new Shopify.OptionSelectors("id", { product: {{ product | json }}, onVariantSelected: selectCallback });
		});
		// ]]>
	</script>{% endif %}{% endif %}{% endif %}
</body>
{% endif %}

{% if template == 'page' and page.handle == 'tiger-appeal' %}
    <body>
	{{ content_for_layout }}
	<div id="badge-pop-up">
		<div id="badge-content">
			To display this badge as a link to Blake's page, choose a badge size and paste the code into your blog or website:
			<select id="badge-select">
				<option></option>
				<option value="100">100 px</option>
				<option value="120">120 px</option>
				<option value="150">150 px</option>
				<option value="180">180 px</option>
			</select>
			<textarea id="badge-code" style="width: 400px; height: 100px;"></textarea>
			<div style="text-align: right; padding-right: 20px;"><button id="badge-pop-up-close">close</button></div>
		</div>
		
	</div>
	</body>
{% endif %}

</html>