{% paginate collection.products by 9 %}<!-- START EXCERPT -->
<div id="excerpt">
	<h1>{{ collection.title | escape }}</h1>
</div>
<!-- END EXCERPT -->
<!-- START PRODUCTS -->{% if collection.products.size > 0 %}
<div id="collection-bg" class="rounded3">
	<div id="collection-description">
		{{ collection.description }}
	</div>
<!--	<div class="seen-at rounded3">Seen at: <a href="http://twitter.com/#!/GonzoWithAlexa/status/54895881769594880">MTVs Gonzo with Alexa</a><a href="http://latenighttales.co.uk/product.php/3/arctic-monkeys">Matt Helder's Late Night Tales</a><a href="http://es.homesandproperty.co.uk/your_home_and_garden/shopping_and_design_news/designnewsanimals20100818.html">Home &amp; Property</a></div> -->	
	<ul id="products" class="clear">{% for product in collection.products %}
		<!-- START PRODUCT {{ forloop.index }} -->
		<li{% cycle ' class="rounded3"', ' class="rounded3"',' class="rounded3 end"' %}>
			<!-- START IMAGE -->
			<div class="image opaque-container" >
				<a href="{{ product.url }}" style="height: 40px">
						    <div class="opaque"></div>
						    <h2 class="over-opaque">
								{{ product.metafields.product.name }}
						    </h2>
				</a>
				<div class="align">
					<div>
						<a href="{{ product.url }}">
							<img class="collection-image" src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" />
						</a>
					</div>
				</div>
			</div>
			<!-- END IMAGE -->
		   			
		</li>
		<!-- END PRODUCT {{ forloop.index }} -->{% endfor %}
	</ul>{% else %}
	<p id="empty">There are no products in this collection.</p>{% endif %}
	<!-- END PRODUCTS -->{% if paginate.pages > 1 %}
</div><!-- end collection bg -->

<!-- START PAGINATE -->
<div id="paginate">
	{{ paginate | default_pagination }}
</div>
<!-- END PAGINATE -->{% endif %}{% endpaginate %}