 <h1>Unique & Exclusive Lamps by Myra Heller.</h1>

 <div id="archies" class="TB_Wrapper bordered" >
	
	<div class="Slide">
		<img src="{{ 'archie-the-whippet-1.jpg' | asset_url }}" alt="img1" />
		<div align="left">			
				Not quite 101 Archies. <a href="/products/arche-the-whippet-table-lamp">More about Archie</a>
		</div>
	</div>
	
	<div class="Slide">
		<img src="{{ 'archie-the-whippet-2.jpg' | asset_url }}" alt="img2" />
		<div align="left">			
				Archie is our latest model. <a href="/products/arche-the-whippet-table-lamp">More about Archie</a>
		</div>
	</div>
	
	<div class="Slide">
		<img src="{{ 'archie-the-whippet-3.jpg' | asset_url }}" alt="img3" />
		<div align="left">			
				He's based on <a href="/pages/archie-the-whippet-a-new-dog-lamp">a real whippet</a> (also called Archie). <a href="/products/arche-the-whippet-table-lamp">More about Archie</a>
		</div>
	</div>
	
	<div class="Slide">
		<img src="{{ 'archie-the-whippet-4.jpg' | asset_url }}" alt="img3" />
		<div align="left">			
				This is Archie with Myra our artist. <a href="/products/arche-the-whippet-table-lamp">More about Archie</a>
		</div>
	</div>
	
	<div class="Slide">
		<img src="{{ 'archie-the-whippet-5.jpg' | asset_url }}" alt="img3" />
		<div align="left">			
				Archie halfway down the stairs. <a href="/products/arche-the-whippet-table-lamp">More about Archie</a>
		</div>
	</div>
	
		    
 </div>

 <table style="margin: 20px 0 20px 0; color: black; font-size: 1.2em; width: 1080px">
	<tr>
		<td style="padding: 10px 20px 10px 20px; width: 480px;background-color: #c9d9e0; ">NEW! <a style="color: #f06;" href="/products/replacement-bulb-and-transformer-for-heico-skk-lamps-onion-and-other-lamps">Replacement bulb and transformer kit for halogen Onion and Diego lamps</a> now available.</td>
		<td style="padding: 10px 20px 10px 20px; width: 480px;background-color: #c9d9e0; margin-left: 20px" >"Have you noticed those cool dog lamps that are often scattered around the Gonzo set - we get them from www.light-art.co.uk - check it out!"
		<span style="font-family: arial"><a style="color: #f06;" href="http://www.light-art.co.uk/blogs/news/3682442-light-art-mtv-and-alexa-chung">&nbsp;MTV. Gonzo with Alexa</a></span></td>
	</tr>
 </table>
	
<div style='margin: 20px 0 20px 0'>
	<div class="boxgrid captionfull">
		<img class="blake-on-off" src="{{ 'blake-the-tiger-cub-off.jpg' | asset_url }}" alt="blake the tiger cub lamp, raising money for wild tigers}}">
		<div class="boxcaption cover">
			We're raising money for the global wild tiger conservation charity 21st Century Tiger. You can find out more by <a style="color: #f06;" href="/pages/tiger-appeal">visiting Blake's page<a/> or you can <a style="color: #f06;"  href="/products/blake-tiger-cub-table-lamp">buy him here</a>.
		</div>
	</div>
    <div class="boxgrid captionfull" style="margin-left: 30px">
		<img src="{{ 'myra-and-sky.jpg' | asset_url }}" alt="myra our artist and model maker with Skye her pet whippet">
		<div class="boxcaption cover">
		   Light Art is new. We're producing stylish lamps that light up the heart as well as the home. Find out more <a style="color: #f06;" href="/pages/about-us">about us</a>.  
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
		
<p style="padding: 10px 20px 10px 20px; background-color: black; color: white; font-size: 1.2em; margin: 0 0 10px 0">
<a href="/collections/dog-lamps">dog lamps</a> | <a href="/collections/rabbit-table-lamps">rabbit lamps</a> | <a href="/collections/elephant-table-lamps">elephant lamps</a> | <a href="/collections/tiger-lamps">tiger lamps</a> or all of our <a href="/collections/animal-lamps">animal lamps</a>
</p>

 <div id="testimonials">
 	<div class="testimonial">
 "..my partner wanted me to tell you how much he loves the lamp.  It is beautifully made, and our dogs are fascinated by it!"
 	<div class="signature">Siobhan, Bermondsey.</div>
    </div>
    <div class="testimonial">
"Thank you so much for your excellent service, I received  &lsquo;Onion&rsquo; yesterday and am thrilled with him"
	<div class="signature">Joy, Lincoln.</div>    	
    </div>
    <div class="testimonial">
"You are a great advert for why we should all continue to have faith in shopping online.
Thanks so much."
    <div class="signature">June, Glasgow.</div>   	
    </div>
 </div>
 

<!-- END SHOWCASE -->