<!-- start social -->
<div class="social-links">
	<span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>

	{% if product.metafields.product.name == 'archie' %}
	<span>
		<a href="http://www.facebook.com/pages/Archie-the-Whippet/228735777206964">
			<img src="{{ 'follow.png' | asset_url }}"/>
		</a>
	</span>
	{% endif %}

</div>

<!-- end social -->
<div class="opaque-container" style="height: 40px">   
   <div class="opaque"></div>
   <h1 class="over-opaque">{{ product.title | escape }}</h1>
</div>	
	
<!-- START CONTENT -->
<div id="summary" class="clear">
	
	<!-- START IMAGES -->
	<div id="images">

    
		<!-- START IMAGE -->
		<div id="image" class="clear">
			<img src="{{ product.images[0] | product_img_url: "large" }}" alt="{{ product.title | escape }}" />
                        <div style="clear:both; height: 2px;">&nbsp;</div>
		</div>
		<!-- END IMAGE -->
               
		<!-- START THUMBS -->
		<div id="thumbs">
     
                           {% if product.images.size > 1 %}
                              {% for image in product.images %}
			        
                                 <a href="{{ image | product_img_url: "large" }}" rel="lightbox-images">
                                   <img src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" />
                                 </a>
                          
                            {% endfor %}
                           {% endif %}
		</div>
		
		{% include 'also_like' %}
        
		<!-- END THUMBS -->
	</div>
	<!-- END IMAGES -->
	
	<!-- START RIGHT COL -->
	<div id="details">
		
		<!-- buy buttons -->
		<div id="options" class="rounded10">
			<form method="post" action="/cart/add" style="border-top: none;">{% if product.variants.size > 1 %}
				<!-- START VARIANTS -->
				<!-- END VARIANTS -->{% else %}{% for variant in product.variants %}
				<input type="hidden" name="id" value="{{ variant.id }}" />{% endfor %}{% endif %}
				<!-- START BUY -->
				<div id="buy" >
				    {% if product.available %}
						 <table>
							<td style="vertical-align: middle; padding-right: 20px; font-weight: bold">
								     <span>{{ product.price | money }}</span>
							         {% if product.compare_at_price_max > product.price %} 
							           &nbsp;&nbsp;<del>{{ product.compare_at_price_max | money }} plus P&amp;P</del>
							         {% endif %}
						     </td>
						     <td style="vertical-align: middle">
							 	{% if product.variants.size == 1 %} 
									<p class="in-stock">{{ product.variants.first.inventory_quantity }} IN STOCK NOW</p>
								 {% else %}
									<select name="id" id="id" style="font-size: 1.2em;">
									{% for variant in product.variants %}
										{% if variant.available %}
											<option value="{{ variant.id }}">{{ variant.title | escape }} ({{ variant.inventory_quantity }} in stock)</option>
										{% else %}
											<option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }} ({{ variant.price | money }}) - SOLD OUT</option>
										{% endif %}

									{% endfor %}
									</select>
								 {% endif %}
							 </td>
						</table>
						
						<input type="image" src="{{ 'add-me-to-your-basket.png?v1' | asset_url }}" alt="BUY THIS" id="add" />
				     
					     
					{% else %}
						
						{% if product.tags contains 'coming soon' %}
							<h6>Coming Soon!</h6>
						{% else %} 
							<h6>They've all gone!</h6>
						{% endif %}
						<p><a href="http://lightart.wufoo.com/forms/let-me-know-when-you-have-some/">click here to find out when it's in stock</a></p>	
					{% endif %}
				</div>
				<!-- END BUY -->
			</form>
		</div>
		<!-- END buy buttons -->
		

		
		<div id="features" class="rounded10">
			{% include 'features' %}
		</div>
		
		<div id="delivery" class="rounded10">
			<p><span style="font-weight: bold; background-color: #FC0361; color: white; padding: 2px;">Free Delivery</span> anywhere in the UK.</p>
			<p><span style="font-weight: bold;  background-color: #FC0361; color: white; padding: 2px;">We also deliver worldwide</span> but have to charge an extra £10 for that, sorry.</p> 
			{% if product.metafields.product.features contains 'LED' %}
			<p><span style="font-weight: bold;  background-color: #FC0361; color: white; padding: 2px;">Lifetime Guarantee</span> on electrical components.</p> 
			{% endif %}
		</div>	
		

		
		<!-- START DESC -->
		<div id="desc" class="rounded10">
			<h2>More about {{ product.metafields.product.name | capitalize }}:</h2>
			{{ product.description }}
		</div>
		<!-- END DESC -->
       

	</div>
	<!-- END RIGHT COL-->
</div>
<!-- END CONTENT -->