<!-- start social -->
<div class="social-links">
	<span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
    <!-- Place this tag where you want the +1 button to render -->
	<g:plusone></g:plusone>

	<div id="referrals" style="position: relative">
		{% assign only_small = product.metafields.product.language | append: '_only_small' %}
		{% include  only_small %}
	</div>
	
   <div style="clear: both;"></div>

</div>

<!-- end social -->
<div class="opaque-container" style="height: 40px">   
   <div class="opaque"></div>
   <h1 class="over-opaque">{{ product.title | escape }}</h1>
</div>	
	
<!-- START CONTENT -->
<div id="summary" class="clear">

	<!-- START IMAGES -->
	<div id="images">

    
		<!-- START IMAGE -->
		<div id="image" class="clear">
			<img src="{{ product.images[0] | product_img_url: "large" }}" alt="{{ image.alt}}" />
                        <div style="clear:both; height: 2px;">&nbsp;</div>
		</div>
		<!-- END IMAGE -->
        <h2 class="tagline">&#8220;..{{product.metafields.product.tagline}}..&#8221;</h2>       
		<!-- START THUMBS -->
		<div id="thumbs">
     
                           {% if product.images.size > 1 %}
                              {% for image in product.images %}
			        
                                 <a href="{{ image | product_img_url: "large" }}" rel="lightbox-images">
                                   <img src="{{ image | product_img_url: 'small' }}" alt="{{ image.alt}}" />
                                 </a>
                          
                            {% endfor %}
                           {% endif %}
		</div>
		
		<div id="tags">
			<a href="/collections/heico-lamps">
				heico lamps
			</a>&nbsp;
	        <a href="/collections/animal-lamps">
				animal lamps
			</a>&nbsp;
			<a href="/collections/{{product.metafields.product.animal}}-lamps">
				{{product.metafields.product.animal}}-lamps
			</a>
		</div>
		
		<div id="also-like" style="margin-top: 20px">
			{% assign also_like = product.metafields.product.language | append: '_also_like' %}
			{% include  also_like %}
		</div>
        

		<!-- END THUMBS -->
	</div>
	<!-- END IMAGES -->
	
	<!-- START RIGHT COL -->
	<div id="details">
		
		<!-- buy buttons -->
		<div id="options" class="rounded10">
			<form method="post" action="/cart/add" style="border-top: none;" id="buy-form">{% if product.variants.size > 1 %}
				<!-- START VARIANTS -->
				<!-- END VARIANTS -->{% else %}{% for variant in product.variants %}
				<input type="hidden" name="id" value="{{ variant.id }}" />{% endfor %}{% endif %}
				<!-- START BUY -->
				<div id="buy" style="margin-bottom: 0px; padding-bottom: 0px">
				    {% assign buy = product.metafields.product.language | append: '_buy' %}
					{% include  buy %}
				</div>
				<!-- END BUY -->
			</form>
			
			<div id="unsure" class="bottom-rounded10">
				{% assign not_sure = product.metafields.product.language | append: '_not_sure' %}
				{% include  not_sure %}
			</div>
		</div>
		<!-- END buy buttons -->
		
		{% if product.handle != 'replacement-bulb-and-transformer-for-heico-skk-lamps-onion-and-other-lamps' %}
		<div id="features" class="rounded10">
			{% assign features = product.metafields.product.language | append: '_features' %}
			{% include  features %}
		</div>
		{% endif %}

		{% if product.metafields.product.in_the_shops == 'true' %}
		<div id="in-the-shops" class="rounded10">
			<h2>Can I see {{ product.metafields.product.name | capitalize }} in the shops ?</h2>
			<p><img src="{{'shop.jpg' | asset_url}}" style="float: right; border: 2px solid #437575;"/>We are selling {{ product.metafields.product.name | capitalize }} through a <a href="/pages/shops-selling-archie-and-blake">select number of shops</a> near us in North East London.</p>
			<p>Feel free to <a href="http://lightart.wufoo.com/forms/talk-to-us-at-light-art/">contact us</a> if you'd like to see him in a shop near you.</p>
		    <div style="clear: both; height: 0px; padding: 0; margin: 0;"></div>
		</div>
		{% endif %}
		
		<div id="delivery" class="rounded10">
			{% assign international_customers = product.metafields.product.language | append: '_international_customers' %}
			{% include international_customers %}
		</div>	
	
	</div>
	<!-- END RIGHT COL-->
</div>
<!-- END CONTENT -->
<div style="margin-top: 10px">
<!-- Place this tag where you want the +1 button to render -->
<g:plusone></g:plusone>
</div>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>