
<h1>
{{ product.title | escape }}
</h1>
<!-- START SUMMARY -->
<div id="summary" class="clear">
	
	<!-- START IMAGES -->
	<div id="images">
             
		<!-- START IMAGE -->
		<div id="image" class="clear">
			<img src="{{ product.images[0] | product_img_url: "large" }}" alt="{{ product.title | escape }}" />
                        <div style="clear:both; height: 2px;">&nbsp;</div>
		</div>
		<!-- END IMAGE -->
               
		<!-- START THUMBS -->
		<div id="thumbs">
     
                           {% if product.images.size > 1 %}
                              {% for image in product.images %}
			        
                                 <a href="{{ image | product_img_url: "large" }}" rel="lightbox-images">
                                   <img src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" />
                                 </a>
                          
                            {% endfor %}
                           {% endif %}
		</div>
        	<div id="money-back-container">
				<div id="money-back">
					<b><font class="Apple-style-span" color="#FF0000">We want you to be happy!</font><br/> If you're not just send it back within 30 days for a full refund.</b>
				</div>
			</div>
		<!-- END THUMBS -->
	</div>
	<!-- END IMAGES -->
	<!-- START DETAILS -->
	<div id="details">
		
		<!-- START OPTIONS -->
		<div id="options">
			<form method="post" action="/cart/add" style="border-top: none;">{% if product.variants.size > 1 %}
				<!-- START VARIANTS -->
				<div id="variants">
					<div class="border">
						<select name="id" id="id">{% for variant in product.variants %}{% if variant.available %}
							<option value="{{ variant.id }}">{{ variant.title | escape }} ({{ variant.price | money }})</option>{% else %}
							<option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }} ({{ variant.price | money }}) - SOLD OUT</option>{% endif %}{% endfor %}
						</select>
					</div>
				</div>
				<!-- END VARIANTS -->{% else %}{% for variant in product.variants %}
				<input type="hidden" name="id" value="{{ variant.id }}" />{% endfor %}{% endif %}
				<!-- START BUY -->
				<div id="buy" class="clear">
				    {% if product.available %}
                         <p class="in-stock">{{ product.variants.first.inventory_quantity }} IN STOCK NOW</p>
					     <h4 id="price">
						     <span>{{ product.price | money }}</span>
					         {% if product.compare_at_price_max > product.price %} 
					           &nbsp;&nbsp;<del>{{ product.compare_at_price_max | money }} plus P&amp;P</del>
					         {% endif %}
					     </h4>
					     <input type="image" src="{{ 'add-me-to-your-basket.png?v1' | asset_url }}" alt="BUY THIS" id="add" />
					{% else %}
						
						{% if product.tags contains 'coming soon' %}
							<h6>Coming Soon!</h6>
						{% else %} 
							<h6>Sold Out</h6>
						{% endif %}
						<p><a href="http://lightart.wufoo.com/forms/let-me-know-when-you-have-some/">click here to find out when it's in stock</a></p>	
					{% endif %}
				</div>
				<!-- END BUY -->
			</form>
		</div>
		<!-- END OPTIONS -->
		
		
		<div class="social-links">
				<span class="st_twitter_large" displayText="Tweet"></span><span class="st_facebook_large" displayText="Facebook"></span><span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span><span class="st_gbuzz_large" displayText="Google Buzz"></span><span class="st_email_large" displayText="Email"></span><span class="st_sharethis_large" displayText="ShareThis"></span>
		</div>
		<!-- START DESC -->
		<div id="desc">
			{{ product.description }}
		</div>
		
	
		
		<!-- END DESC -->
       

		
		
	
		
	</div>
	<!-- END DETAILS -->
</div>
<!-- END SUMMARY -->